extends _template

block headcontent
    - const title = 'About'

block bodycontent
    .container.px-3.px-sm-0.my-5
        h1.display-1 About | 
            small.text-muted MXTURE
        p.lead We are MXTURE, the dynamic hub of free-to-read, open-submission, peer-reviewed multimedia content. Born from a collective dream, we are a digital journal like no other – made by everyone, tailored for everyone. 
        .row.mt-4
            .col-md-6.mb-md-4
                h3 Our Mission: Celebrating Diversity, Fostering Inclusivity
                p MXTURE isn't just another website; it's a revolution in online expression. Our mission is steadfast: to elevate underrepresented voices and delve into the myriad dimensions of identity. We don't just observe the diverse human experience – we celebrate it in all its glory.
            .col-md-6.mb-md-4
                h3 Unleashing Creative Potential
                p Creativity at MXTURE knows no limits. Our platform is a vibrant playground for a kaleidoscope of artistic endeavors – from soul-stirring essays and poetry to breathtaking art and groundbreaking multimedia projects. We're not just breaking barriers; we're redefining the very landscape of artistic expression.
            .col-md-6.mb-md-4
                h3  Peer-Reviewed Excellence
                p At the heart of MXTURE lies an unwavering commitment to quality. Every submission passes through a rigorous peer-review process, ensuring that our platform not only maintains its integrity but also serves as a catalyst for creators to hone and elevate their craft to new heights.
            .col-md-6.mb-md-4
                h3 A Queer Perspective from Naarm/Melbourne
                p From the bustling, culturally rich streets of Naarm/Melbourne, Australia, MXTURE is lovingly curated and moderated by a team of young, queer visionaries. Our team isn't just managing a platform; they're nurturing a sanctuary where creativity is celebrated in all its forms.
        .row.text-center
            h3 Join the Conversation
            p MXTURE is more than just a platform; it's a community. Whether you're a budding artist, a seasoned writer, or someone with a story itching to be told, your voice is what makes MXTURE extraordinary. Join us, share your story, and help us weave a vibrant tapestry that is as diverse and inclusive as it is beautiful.k